@mixin flex-justify-content-center {
  display: flex;
  justify-content: center;
}

.loaderWrapper {
  @include flex-justify-content-center;
  align-items: center;
  height: 100%;
}

.loader {
  @include flex-justify-content-center;
  flex-direction: column;
}
