#search-form {
  margin-bottom: 10px;
}

.section-title {
  height: 24px;
}

.options .section-title {
  user-select: none;
}

.checkbox {
  height: 22px;
  margin-left: -1px;
}

.checkbox__label {
  padding: 0;
}

.options {
  margin: 0 0 10px;
}

.actions {
  margin: 10px 10px 15px;
  float: right;
}

#cancel {
  height: 30px;
}
