#plugin-container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

#search-form {
  margin-bottom: 10px;
}

#plugin-options {
  flex: 1;
}

.options-not-found {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100px;
}

.section-title {
  height: 24px;
}

.options .section-title {
  user-select: none;
}

.checkbox {
  height: 22px;
  margin-left: -1px;
}

.checkbox__label {
  padding: 0;
}

.options {
  margin: 0 0 10px;
}

.actions {
  margin: 10px 10px 15px;
  align-self: flex-end;
}

#cancel {
  height: 30px;
}
