.actionsWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 var(--size-xsmall) 2px;
  min-height: var(--size-xlarge); // TODO
  border-top: 1px solid var(--silver);
}

.messageActions {
  display: flex;
  justify-content: space-between;
  gap: var(--size-xxxsmall);
}
