.toolbar {
  display: flex;
  background-color: var(--white);
  padding: var(--size-xxsmall);
  gap: var(--size-xxsmall);
  border-bottom: 1px solid var(--silver);
  z-index: 10;
  position: sticky;
  top: 0;
}

.elementsContent {
  padding: 0 var(--size-xxsmall);
}

.search {
  flex: 1;
}

.fullLayout {
  display: flex;
  flex-direction: column;
  height: 100%;
}
