.toolbar {
  display: flex;
  margin: var(--size-xxsmall) 0 var(--size-xsmall);
  gap: var(--size-xxsmall);
}

.search {
  flex: 1;
}

// TODO
.fullLayout {
  display: flex;
  flex-direction: column;
  height: 100%;
}
