.section-title {
  height: 24px;
}

.checkbox,
.checkbox__container,
.checkbox__label {
  height: 22px;
}

.checkbox__container {
  width: 30px;
}

.checkbox__mark {
  top: 50%;
  left: 9px;
  transform: translateY(-50%);
}

.checkbox__label {
  padding: 0;
}

.options:not(:last-of-type) {
  margin: 0 0 10px;
}

.actions {
  margin: 15px 10px;
  float: right;
}

#cancel {
  height: 30px;
}
