.section-title {
  height: 24px;
}

.checkbox {
  height: 22px;
  margin-left: -1px;
}

.checkbox__label {
  padding: 0;
}

.options:not(:last-of-type) {
  margin: 0 0 10px;
}

.actions {
  margin: 15px 10px;
  float: right;
}

#cancel {
  height: 30px;
}
